*,
section {
  background-color: rgb(224, 231, 230);
}

#main-information {
  color: red;
}

/*header and footer color*/
nav,
#footer,
.container-fluid,
li,
#hamburgerCollapse,
footer,
#footer-row,
#footer-heads,
#footer-text,
.navbar-header,
span {
  background-color: rgb(107, 33, 136);
}

.nav-link {
  color: rgb(94, 240, 58);
}

#footer-heads {
  color: rgb(46, 221, 154);
}

#footer-text {
  color: wheat;
}
