*,
section {
  background-color: rgb(224, 231, 230);
}

#main-information {
  color: blue;
}

/*header and footer color*/
nav,
.navbar-header,
.container-fluid,
li,
#hamburgerCollapse,
span,
#footer,
footer,
#footer-row,
#footer-heads,
#footer-text {
  background-color: rgb(48, 127, 230);
}

.nav-link {
  color: rgb(240, 240, 58);
}

#footer-heads {
  color: rgb(46, 221, 207);
}

#footer-text {
  color: black;
}
